allow healthd sysfs_thermal:dir search;
allow healthd sysfs_thermal:file { read open };
allow healthd rtc_device:chr_file rw_file_perms;

# chargeled
#recovery_only(`
#  allow healthd sysfs_battery_supply:file getattr;
#')

# offmode charging
#allow healthd device:dir r_dir_perms;
